body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  text-align: center;
  margin-top: 20px;
}
/* global.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root,
#__next {
  height: 100%;
  width: 100%;
}
