.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjust this value as needed */
}

.networkGraphContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabContainer {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f9f9f9;
  color: #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-right: 5px;
}

.activeTab {
  background-color: #96a0fe;
  color: white;
  border: 1px solid #96a0fe;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
