.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.appContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 20px;
}

.layoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.networkGraphContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

@media (min-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

.nodeConversationWrapper {
  width: 600px;
  margin: 5px;
  border: 1px solid #ccc;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chromeTabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.chromeTab {
  flex: 1;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  margin-right: 5px;
  transition: background-color 0.3s, color 0.3s, flex 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chromeTab:last-child {
  margin-right: 0;
}

.chromeTabActive {
  background-color: #96a0fe;
  color: white;
  border: 1px solid #96a0fe;
  border-bottom: 1px solid #fff;
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodeConversationContainer {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
}
